{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ficha Sensorial de Cacao</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styles/formcodex.css' %}" >

</head>
<body class="bg-light text-dark">
  <img src="{% static 'img/logo.jpg' %}" alt="Logo" class="imagen-esquina">

  <div class="container py-4">
    <h1 class="text-center text-uppercase text-primary mb-3">Análisis Sensorial de Cacao</h1>
    <h2 class="text-center mb-4">Ficha de Catación</h2>

    <form method="post" action="" id="fichaForm" class="card p-4 shadow">
      
          {% csrf_token %}
          {{ form.non_field_errors }}

      <!-- Datos generales -->
      <div class="row mb-4">
        <div class="col-md-4">
          <label class="form-label">Muestra</label>
          <input type="text" name="muestra" class="form-control" required>
        </div>
        <div class="col-md-4">
          <label class="form-label">Catador</label>
          <input type="text" name="catador" class="form-control" required>
        </div>
        <div class="col-md-4">
          <label class="form-label">Fecha</label>
          <input type="date" name="fecha" class="form-control" required>
        </div>
      </div>

      <!-- Tabla -->
      <div class="table-responsive mb-4">
        <table class="table table-bordered align-middle">
          <thead class="table-light">
            <tr>
              <th>Categoría</th>
              <th>Intensidad (0-5)</th>
              <th>Descriptores</th>
              <th>Calidad <br>(0-10)</th>
              <th>Puntaje</th>
            </tr>
          </thead>
          <tbody>
            <label class="form-label">Evaluación Sensorial para masa de cacao y Chocolate</label>
            <!-- Puedes duplicar filas como esta para cada categoría -->
            
              
        <tr class="seccion-acidez">
        <td colspan="5">Acidez</td>
        </tr>  

<tr class="detalle-acidez">
  <td>Acidez-frutal</td>
  <td>
    <input type="range" class="form-range" name="acidez_frutal_intensidad"  min="0" max="5" value="0" oninput="updateSlider(this)">
    <span class="badge bg-secondary">0</span>
  </td>
  <td><input type="text" name="acidez_frutal_descripcion" class="form-control"></td>
  <td><input type="number" name="acidez_frutal_calidad" min="0" max="10" class="form-control"></td>
  <td><input type="number" name="acidez_frutal_score" class="form-control" readonly></td>
</tr>
            <tr class="detalle-acidez">
              <td>Acidez-Acetica</td>
              <td>
                <input type="range" class="form-range" name="acidez_acetica_intensidad" min="0" max="5" value="0" oninput="updateSlider(this)">
                <span class="badge bg-secondary">0</span>
              </td>
              <td><input type="text" name="acidez_acetica_descripcion" class="form-control"></td>
              <td><input type="number" name="acidez_acetica_calidad" min="0" max="10" class="form-control"></td>
              <td><input type="number" name="acidez_acetica_score" class="form-control" readonly></td>
            </tr>

            <tr class="detalle-acidez">
              <td>Acidez-lactica</td>
              <td>
                <input type="range" class="form-range" name="acidez_lactica_intensidad" min="0" max="5" value="0" oninput="updateSlider(this)">
                <span class="badge bg-secondary">0</span>
              </td>
              <td><input type="text" name="aroma_desc" class="form-control"></td>
              <td><input type="number" name="acidez_qual" min="0" max="10" class="form-control"></td>
              <td><input type="number" name="acidez_score" class="form-control" readonly></td>
            </tr>

            <tr class="detalle-acidez">
              <td>Acidez-mineral/butirica</td>
              <td>
                <input type="range" class="form-range" name="acidez_mineral_intensidad" min="0" max="5" value="0" oninput="updateSlider(this)">
                <span class="badge bg-secondary">0</span>
              </td>
              <td><input type="text" name="acidez_mineral_descripcion" class="form-control"></td>
              <td><input type="number" name="acidez_mineral_calidad" min="0" max="10" class="form-control"></td>
              <td><input type="number" name="acidez_mineral_score" class="form-control" readonly></td>
            </tr>
            

            <tr class="detalle-amargor">
              <td>Amargor</td>
              <td>
              <input type="range" class="form-range" name="amargor_intensidad" min="0" max="5" value="0" oninput="updateSlider(this)">
                <span class="badge bg-secondary">0</span>
              </td>
              <td><input type="text" name="amargor_descripcion" class="form-control"></td>
              <td><input type="number" name="amargor_calidad" min="0" max="10" class="form-control"></td>
              <td><input type="number" name="amargor_score" class="form-control" readonly></td>
            </tr>

            <tr class="detalle-astrigencia">
            <td>Astringencia</td>
              <td>
                <input type="range" class="form-range" name="astringencia_intensidad" min="0" max="5" value="0" oninput="updateSlider(this)">
                <span class="badge bg-secondary">0</span>
              </td>
              <td><input type="text" name="astringencia_descripcion" class="form-control"></td>
              <td><input type="number" name="astringencia_calidad" min="0" max="10" class="form-control"></td>
              <td><input type="number" name="astrigencia_score" class="form-control" readonly></td>
            </tr>
            

           
            <!-- Más filas aquí (Acidez, Amargor, Astringencia, Defectos...) -->
           <tr class="detalle-cacao">
            <td>Cacao</td>
              <td>
                <input type="range" class="form-range" name="cacao_intensidad" min="0" max="5" value="0" oninput="updateSlider(this)">
                <span class="badge bg-secondary">0</span>
              </td>
              <td><input type="text" name="cacao_descripcion" class="form-control"></td>
              <td><input type="number" name="cacao_calidad" min="0" max="10" class="form-control"></td>
              <td><input type="number" name="cacao_score" class="form-control" readonly></td>
            </tr>

            <tr class="detalle-dulce">
            <td>Dulce</td>
              <td>
                <input type="range" class="form-range" name="dulce_int" min="0" max="5" value="0" oninput="updateSlider(this)">
                <span class="badge bg-secondary">0</span>
              </td>
              <td><input type="text" name="dulce_desc" class="form-control"></td>
              <td><input type="number" name="dulce_calidad" min="0" max="10" class="form-control"></td>
              <td><input type="number" name="dulce_score" class="form-control" readonly></td>
            </tr>
      
         <tr class="seccion-nuez">
          <td colspan="5">Nuez</td>
          </tr>  
          
          <tr class="detalle-nuez">
            <td>Parte interna</td>
              <td>

              <input type="range" class="form-range" name="nuezinterna_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="interna" class="form-control"></td>
            <td><input type="number" name="interna" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="interna" class="form-control" readonly></td>
          </tr>
       
            <tr class="detalle-nuez">
            <td>Piel de la Nuez</td>
              <td>

              <input type="range" class="form-range" name="piel_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="piel_desc" class="form-control"></td>
            <td><input type="number" name="piel_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="piel_score" class="form-control" readonly></td>
          </tr>
       

          <tr class="seccion-frutas">
        <td>frutas frescas</td>
        </tr>    
        
          
           <tr class="detalle-frutas">
            <td>fruta-citricos</td>
              <td>

              <input type="range" class="form-range" name="citricos_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="citricos_desc" class="form-control"></td>
            <td><input type="number" name="citricos_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="citricos_score" class="form-control" readonly></td>
          </tr>

          <tr class="detalle-frutas">
            <td>Fruta-bayas</td>
              <td>

              <input type="range" class="form-range" name="bayas_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="bayas_desc" class="form-control"></td>
            <td><input type="number" name="bayas_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="bayas_score" class="form-control" readonly></td>
          </tr>

          <tr class="detalle-frutas">
            <td>Fruta-oscura</td>
              <td>

              <input type="range" class="form-range" name="frutaosc_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="frutaosc_desc" class="form-control"></td>
            <td><input type="number" name="frutaosc_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="frutaosc_score" class="form-control" readonly></td>
          </tr>

          <tr class="detalle-frutas">
            <td>Fruta-pulpa amarilla</td>
            <td>

              <input type="range" class="form-range" name="amarilla_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="amarilla_desc" class="form-control"></td>
            <td><input type="number" name="amarilla_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="amarilla_score" class="form-control" readonly></td>
          </tr>

            <tr class="detalle-frutas">
              <td>Fruta-tropical</td>
            <td>

              <input type="range" class="form-range" name="tropical_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="tropical_desc" class="form-control"></td>
            <td><input type="number" name="tropical_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="tropical_score" class="form-control" readonly></td>
          </tr>


        <tr class="seccion-fruta-marron">
          <td>Fruta marron</td>
        </tr>   

          <tr class="detalle-fruta-marron">
            <td>Fruta-seca</td>
              <td>

              <input type="range" class="form-range" name="seca_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="seca_desc" class="form-control"></td>
            <td><input type="number" name="seca_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="seca_score" class="form-control" readonly></td>
          </tr>

          <tr class="detalle-fruta-marron">
            <td>Fruta-marron</td>
              <td>

              <input type="range" class="form-range" name="marron_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="marron_desc" class="form-control"></td>
            <td><input type="number" name="marron_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="marron_score" class="form-control" readonly></td>
          </tr>
          
            <tr class="detalle-fruta-marron">
              <td>Fruta-sobre madura</td>
            <td>

              <input type="range" class="form-range" name="somadura_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="somadura_desc" class="form-control"></td>
            <td><input type="number" name="somadura_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="somadura_score" class="form-control" readonly></td>
          </tr>


        <tr class="seccion-vegetal">
        <td>vegetal</td>
        </tr>  
        
  <tr class="detalle-vegetal">
              <td>vegetal-pasto/hierba</td>
            <td>

              <input type="range" class="form-range" name="pasto_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="pasto_desc" class="form-control"></td>
            <td><input type="number" name="pasto_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="pasto_score" class="form-control" readonly></td>
          </tr>        


            <tr class="detalle-vegetal">
              <td>vegetal-terroso/hongo/moho</td>
            <td>

              <input type="range" class="form-range" name="terroso_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="terroso_desc" class="form-control"></td>
            <td><input type="number" name="terroso_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="terroso_score" class="form-control" readonly></td>
          </tr>        

          <tr class="seccion-floral">
        <td>Floral</td>
        </tr>    

<tr class="detalle-floral">
              <td>Floral-flor de azahar</td>
            <td>

              <input type="range" class="form-range" name="florazahar_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="florazahar_desc" class="form-control"></td>
            <td><input type="number" name="florazahar_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="florazahar_score" class="form-control" readonly></td>
          </tr>  
          
          
            <tr class="detalle-floral">
              <td>Floral-flores</td>
            <td>

              <input type="range" class="form-range" name="flores_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="flores_desc" class="form-control"></td>
            <td><input type="number" name="flores_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="flores_score" class="form-control" readonly></td>
          </tr>  

          <tr class="seccion-madera">    
        <td>madera</td>
        </tr>  

  <tr class="detalle-madera">
              <td>Madera-clara</td>
            <td>

              <input type="range" class="form-range" name="maclara_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="maclara_desc" class="form-control"></td>
            <td><input type="number" name="maclara_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="maclara_score" class="form-control" readonly></td>
          </tr>  

  <tr class="detalle-madera">
              <td>Madera oscura</td>
            <td>

              <input type="range" class="form-range" name="maoscura_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="maoscura_desc" class="form-control"></td>
            <td><input type="number" name="maoscura_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="maoscura_score" class="form-control" readonly></td>
          </tr>  

  <tr class="detalle-madera">
              <td>Madera-resina</td>
            <td>

              <input type="range" class="form-range" name="resina_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="resina_desc" class="form-control"></td>
            <td><input type="number" name="resina_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="resina_score" class="form-control" readonly></td>
          </tr>  

            
          <tr class="seccion-especias">    
        <td>Especias</td>
        </tr>  

          <tr class="detalle-especias">
              <td>Especias-especias</td>
            <td>

              <input type="range" class="form-range" name="especias_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="especias_desc" class="form-control"></td>
            <td><input type="number" name="especias_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="especias_score" class="form-control" readonly></td>
          </tr>  

  <tr class="detalle-especias">
              <td>Especia-tabaco</td>
            <td>

              <input type="range" class="form-range" name="tabaco_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="tabaco_desc" class="form-control"></td>
            <td><input type="number" name="tabaco_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="tabaco_score" class="form-control" readonly></td>
          </tr>  
          
  <tr class="detalle-especias">
              <td>Especia-sazonado/umami</td>
            <td>

              <input type="range" class="form-range" name="umami_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="umami_desc" class="form-control"></td>
            <td><input type="number" name="umami_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="umami_score" class="form-control" readonly></td>
          </tr>  


            <tr class="seccion-saboresatipicos">    
        <td>sabores atipicos</td>
        </tr>  

          
  <tr class="detalle-saboresatipicos">
              <td>sucio-empolvado</td>
            <td>

              <input type="range" class="form-range" name="empolvado_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="empolvado_desc" class="form-control"></td>
            <td><input type="number" name="empolvado_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="empolvado_score" class="form-control" readonly></td>
          </tr>  
          
  <tr class="detalle-saboresatipicos">
              <td>Humedad</td>
            <td>

              <input type="range" class="form-range" name="humedad_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="humedad_desc" class="form-control"></td>
            <td><input type="number" name="humedad_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="humedad_score" class="form-control" readonly></td>
          </tr>  

          
  <tr class="detalle-saboresatipicos">
              <td>Mohoso</td>
            <td>

              <input type="range" class="form-range" name="mohoso_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="mohoso_desc" class="form-control"></td>
            <td><input type="number" name="mohoso_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="mohoso_score" class="form-control" readonly></td>
          </tr>  

          
  <tr class="detalle-saboresatipicos">
              <td>carnoso-animal/cuero</td>
            <td>

              <input type="range" class="form-range" name="cuero_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="cuero_desc" class="form-control"></td>
            <td><input type="number" name="cuero_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="cuero_score" class="form-control" readonly></td>
          </tr>  

          
  <tr class="detalle-saboresatipicos">
              <td>Sobre fermentado-fruta podrida</td>
            <td>

              <input type="range" class="form-range" name="frupodrida_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="frupodrida_desc" class="form-control"></td>
            <td><input type="number" name="frupodrida_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="frupodrida_score" class="form-control" readonly></td>
          </tr>  


                    
  <tr class="detalle-saboresatipicos">
              <td>podrido-estiercol</td>
            <td>

              <input type="range" class="form-range" name="estiercol_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="estiercol_desc" class="form-control"></td>
            <td><input type="number" name="estiercol_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="estiercol_score" class="form-control" readonly></td>
          </tr>  

          
  <tr class="detalle-saboresatipicos">
              <td>Humo</td>
            <td>

              <input type="range" class="form-range" name="humo_int" min="0" max="5" value="0" oninput="updateSlider(this)">
              <span class="badge bg-secondary">0</span>
            </td>
            <td><input type="text" name="humo_desc" class="form-control"></td>
            <td><input type="number" name="humo_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="humo_score" class="form-control" readonly></td>
          </tr>  


        <td>Otros</td>
            <td>
              <textarea name="aroma_desc" class="form-control" rows="3" placeholder="Otros sabores..."></textarea>
            
            </td>
            <td><input type="text" name="otros_desc" class="form-control"></td>
            <td><input type="number" name="otros_qual" min="0" max="10" class="form-control"></td>
            <td><input type="number" name="otros_score" class="form-control" readonly></td>
        
          </tbody>
       
        </table>
      <!-- Comentarios -->
      <div class="mb-3">
        <label class="form-label">Comentarios</label>
        <textarea name="comentarios" class="form-control" rows="3" placeholder="Notas del catador..."></textarea>
      </div>

      <!-- Puntajes -->
      <div class="row mb-4">
        <div class="col-md-6">
          <label class="form-label">Puntos de Catador</label>
          <input type="number" name="catador_score" class="form-control" readonly>
        </div>
        <div class="col-md-6">
          <label class="form-label">Puntaje Final</label>
          <input type="number" name="puntaje_final" class="form-control fw-bold text-success fs-5" readonly>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">Guardar Evaluación</button>
      </div>


    </form>
  </div>

  <script src="script.js"></script>
</body>
</html>
